/* Home page*/
body.home-page {}
    div.claim img.logo {max-height: 200px; }
    div.claim {padding: 2em; background-color: #333333; color: #ffffff;}
    div.claim a {color: #ffffff;}
    div.claim p {font-size: 1.1rem;}
    body.home-page .ecf-footer {padding-top:15px;}

.row {
  margin: 0 auto;
  max-width: 5000px;
  /**max-width: 62.5rem;**/
  width: 100%;
}
nav.top-bar {height: 60px; line-height: 60px;}
    li.top-bar-logo{padding: 10px; height: 75%;}
nav.top-bar img.logo-ecf {max-width:40px;}
nav.top-bar img.digital-publishing {max-width:180px;margin-left:10px;}
div.searchandlangs {background-color: #333333;}

div.content-list {padding:5em;}
div.content-list h1 {margin:0;}
div.content-list img.logo-ecf{max-width:40px;}
div.content-list a {color: #000;}

div.catalog {padding:3em;}
div.catalog h2 {font-size: 2em; color:#333; margin-left:0; margin-top:1em;margin-bottom:1em;border-top:3px solid #333;}
div.catalog a {color:#333;}
dl.sub-nav.catalog a {font-size:1.5em;}

p.i18n {font-size: 0.85em;line-height: 3;}
p.i18n a {color:#ffffff;}
div.search-box {padding-top:8px;}
    div.search-box input {height: 25px;}
    div.search-box a.button {height: 25px; line-height: 25px; padding: 0 10px; margin: 0; color: #ffffff;}

a.button {background-color: #333333; color: #ffffff;}
a.button:hover, a.button:focus {background-color: #666666;}
.top-bar-section ul li > a.active {color:#666666;}
i.fa {color:#cccccc;}

div.ecf-black-bar {height: 10px; margin-top: 2em; background-color: #333333;}

div.ecf-footer {background-color: #FFC20E; height:8em; padding:1em;}
    div.ecf-footer img.logo-unive {margin-bottom:10px; margin-right: 20px;}
    div.ecf-footer img.logo-ecf {margin-bottom:10px;}
    div.ecf-footer img.logo-open-access {margin-bottom:55px;margin-right: 40px; height:50px;}


div.ecf-footer p {font-size: 0.7rem; line-height:1.4;}

/** main content **/
h1, h2, h3 {font-weight: 500;}
h2, h3 {color: #FFC20E;}
h1 {font-size: 1.4rem;}
h2 {font-size: 1.2rem;}
h3 {font-size: 1.1rem;}
div.download h3 {color: black; font-size:0.9rem;}
div.ecf-main-content {padding:2em;}
div.ecf-main-content ol, ul {margin-left: 2.5rem;}
div.ecf-main-content ol {list-style-type: lower-alpha;}
ul.chi-siamo {margin-left: 0;}
ul.chi-siamo li {list-style: none; font-size:0.85rem; line-height: 1.2; margin-bottom:0.5em;}
div.ecf-contatti p, div.download p {font-size:0.8rem;line-height: 1.2;}

#form_pubblica_con_noi {}
#form_pubblica_con_noi label {}
#form_pubblica_con_noi input, select {}
#form_pubblica_con_noi input.submit {background-color: #333333; color: #FFFFFF;}

/** list pages **/
ul.covers h2 {line-height: 1.1;}
ul.covers h2 a {color: #666666; font-size: 1.1rem;}

div.serie-desc {margin-bottom:2em;}
div.serie-desc h2 {color: #333333; font-size: 1.1rem; margin-bottom: 0;}

img.logo-thumb {width:25px;}


/** detail pages**/

div.book-details h1 {margin:0;}
div.book-details h2 {margin:0; color: #666666; font-size:1.0rem;}
div.book-details p.authors {margin-top: 0.5em; font-size: 1.1rem;}


p.descShort {font-style: italic;}
div.book-meta ul {margin-top: 1em; margin-bottom: 2em;}
div.book-desc h2{margin-top:2em;margin-bottom:1em;}
span.book-meta-val {margin-left:1em; font-size: 0.8em;}
span.book-meta-val.contacts {margin-left:0; display:block;}

div.serie h1 {margin-bottom:1em;}
div.serie-board dd {margin-left: 1em; font-size: 0.9rem; line-height: 1.15;}
ul.meta {margin-top:2em;margin-bottom:2em;}
ul.meta li {margin-bottom: 1.5em;}

div.main-toc h2 {margin-top: 1em; margin-bottom: 1em; font-size: 1.4rem;}
div.main-toc ul a {color: #000000; font-weight: 500;}
div.main-toc ul.level-1 {margin-left: 0;}
div.main-toc ul.level-2 {margin-left: 1em; line-height: 1.25;}
div.main-toc ul.level-2 li {margin-bottom: 1em;}
div.main-toc ul li {list-style-type: none;}
span.toc-item-authors {display: block; color:#666666; font-weight: normal;}
/* The accordion is closed */
.accordion-icon:before {content: "\f0d7";}
/* The accordion is open */
.active .accordion-icon:before {content: "\f0d8";}

/* Article body*/

div.article-body p {font-size: 1.2rem;}
div.article-body h2 {color:#000000;}


div.magellan-scrollnav-art-toc [data-magellan-expedition] {
  width: 250px;
  min-width: 0;
border:1px solid #eee;
}
div.magellan-scrollnav-art-toc [data-magellan-expedition-clone] {
  width: 250px;
  min-width: 0;
  visibility:hidden;
}
div.magellan-scrollnav-art-toc dd {margin:0;padding:0;}
div.magellan-scrollnav-art-toc dd.active a {background:#ffffff; color:#000000;font-weight:bold;}
div.magellan-scrollnav-art-toc [data-magellan-expedition] a {
    padding:0;
}




